-11.1-

In [1]:
with open('zoo.py', 'w') as file:
    file.write("""
def hours():
    print('Open 9-5 Daily')
""")

In [16]:
import zoo
zoo.hours()

Open 9-5 Daily

-11.2-

In [18]:
import zoo as menagerie
menagerie.hours()

Open 9-5 Daily

-16.8-

In [22]:
# create books2.csv file with data
csv_content = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""

# write content to books2.csv
with open('books2.csv', 'w') as file:
    file.write(csv_content)

print('Success!')

Success!

In [24]:
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('''CREATE TABLE books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')

conn.commit()
conn.close()

print('Create Successfully')

Create Successfully

In [26]:
import sqlite3
import csv

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books2.csv', 'r') as file:
    reader = csv.reader(file)

    #Skip header row
    next(reader)

    #insert row into books table\
    for row in reader:
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', (row[0], row[1], int(row[2])))

#commit changes and close connection
conn.commit()
conn.close()

print('Data insert Successful')

Data insert Successful

In [54]:
import sqlalchemy
from sqlalchemy import text

conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = text('SELECT title FROM books ORDER BY title ASC')
with conn.connect() as connection:
    result = connection.execute(sql)

for row in result:
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!